{
    "schemes": [
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "This is a 4at API. Contact @Nekiio at telegram for support",
        "title": "4at Swagger API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "Nekiio",
            "email": "nikita.volchenkov1@gmail.com"
        },
        "version": "1.0"
    },
    "host": "memenid.space:6969",
    "basePath": "/api/v1",
    "paths": {
        "/ping": {
            "get": {
                "description": "Get the status of server.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Ping"
                ],
                "summary": "Ping the server.",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/rooms/by-owner": {
            "get": {
                "security": [
                    {
                        "Username": []
                    },
                    {
                        "API token": []
                    }
                ],
                "description": "Get user's chat rooms.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Room"
                ],
                "summary": "Get user's chat rooms",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/main.Room"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/main.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/rooms/join/{name}/": {
            "post": {
                "security": [
                    {
                        "Username": []
                    },
                    {
                        "API token": []
                    }
                ],
                "description": "Join a chat room.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Room"
                ],
                "summary": "Join a chat room",
                "parameters": [
                    {
                        "type": "string",
                        "default": "Tolya's room",
                        "description": "room name",
                        "name": "name",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.Room"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/main.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/rooms/leave/{name}/": {
            "post": {
                "security": [
                    {
                        "Username": []
                    },
                    {
                        "API token": []
                    }
                ],
                "description": "Leave a chat room.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Room"
                ],
                "summary": "Leave a chat room",
                "parameters": [
                    {
                        "type": "string",
                        "default": "Tolya's room",
                        "description": "room name",
                        "name": "name",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.Room"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/main.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/rooms/{name}": {
            "get": {
                "security": [
                    {
                        "Username": []
                    },
                    {
                        "API token": []
                    }
                ],
                "description": "Get a chat room.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Room"
                ],
                "summary": "Get a chat room",
                "parameters": [
                    {
                        "type": "string",
                        "default": "Tolya's room",
                        "description": "room name",
                        "name": "name",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.Room"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/main.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/main.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/rooms/{name}/": {
            "post": {
                "security": [
                    {
                        "Username": []
                    },
                    {
                        "API token": []
                    }
                ],
                "description": "Add new a chat room.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Room"
                ],
                "summary": "Add a new chat room",
                "parameters": [
                    {
                        "type": "string",
                        "default": "Tolya's room",
                        "description": "room name",
                        "name": "name",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.Room"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/main.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/main.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "Username": []
                    },
                    {
                        "API token": []
                    }
                ],
                "description": "Remove a room from chat.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Room"
                ],
                "summary": "Remove a room from chat",
                "parameters": [
                    {
                        "type": "string",
                        "default": "Tolya's room",
                        "description": "room name",
                        "name": "name",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/main.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/users/check/{username}": {
            "get": {
                "description": "Check that the user exists.",
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User"
                ],
                "summary": "Check that the user exists",
                "parameters": [
                    {
                        "type": "string",
                        "default": "Tolya",
                        "description": "username to check",
                        "name": "username",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.CheckUser"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/main.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/main.ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "main.CheckUser": {
            "type": "object",
            "properties": {
                "exists": {
                    "type": "boolean"
                }
            }
        },
        "main.ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string"
                }
            }
        },
        "main.Room": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "participants": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "uuid": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "API token": {
            "type": "apiKey",
            "name": "X-App-Token",
            "in": "header"
        },
        "Username": {
            "type": "apiKey",
            "name": "X-User-Name",
            "in": "header"
        }
    }
}